
$nav-link-disabled-color: #030303;
$nav-tabs-link-hover-border-color: #D40946;
$nav-tabs-link-active-color: #030303;
$navbar-dark-color: #030303;
$navbar-dark-hover-color: #D40946;
$navbar-dark-active-color: #030303;
$navbar-dark-disabled-color: #030303;
$navbar-light-color: #030303;
$navbar-light-hover-color: #D40946;
$navbar-light-disabled-color: #030303;
$navbar-light-toggler-border-color: #030303;
$navbar-light-brand-hover-color: #D40946;
$navbar-dark-brand-color: #030303;
$navbar-dark-brand-hover-color: #D40946;
$navbar-light-brand-color: #030303;