
$white: rgb(255, 255, 255);
$navbar-toggler-border-radius: 0;
$nav-link-padding-y: 0;
$nav-link-padding-x: 0;
$nav-link-disabled-color: #030303;
$navbar-padding-y: 1rem;
$navbar-dark-color: #030303;
$navbar-dark-hover-color: #D40946;
$navbar-dark-active-color: #D40946;
$navbar-dark-disabled-color: #030303;
$nav-tabs-border-color: #fff;
$navbar-light-brand-color: rgb(0, 0, 0);
$nav-tabs-link-hover-border-color: #fff;